<div data-controller="alerts">
    <h1>Example</h1>
    <div>
        <button data-action="click->alerts#triggerCritical">Trigger Client Error</button>
    </div>
    <div>
        <button data-action="click->alerts#triggerRequest">Trigger Server Error</button>
    </div>
</div>